  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-initialPage {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
  }
  
  
  .wrap-initialPage {
    padding: 1px 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    position: relative;
  }

  
  h3.titulo {
    text-align: center;
    display: inline-block;
    color: white;
  }
  
  .navbar {
    /* p-l-110 p-r-110 p-t-62 p-b-33 */
    /* padding-left: 110px;
    padding-right: 110px;
    padding-top: 62px;
    padding-bottom: 33px; */
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    /* background-color: #333; */
    background-color: rgba(0, 0, 0, 0.774);
    font-family: Arial, Helvetica, sans-serif;
  }
    
  /* a {
    text-decoration: none;
    margin: 0 10px; 
  } */
  
  a.nav{
  float: left;
  font-size: 16px;
  color: white;
  height: fit-content;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  border-radius: 10px;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  }
  
  a.nav::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  }
  
  a.nav:hover:before{
  opacity: 1;
  }
  
  .title {
    width: 100%;
    display: block;
    font-family: Montserrat-Medium;
    font-size: 39px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;
  }

  .txt {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    margin-left: 17%;
    position: relative;
    }


  .wrap-inputpass {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
  }

 

  .changepsw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 40%;
    height: 60px;
    background-color: #333333;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }

