input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  /* padding: 12px 20px 12px 40px; */
  /* padding: 14px 16px; */
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-initialPage {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  padding: 10px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}

.wrap-initialPage {
  padding: 1px 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  position: relative; 
  max-height: 100vh;
}

html {
  box-sizing: border-box;
}

.navbar {
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  /* background-color: #333; */
  background-color: rgba(0, 0, 0, 0.774);
  font-family: Arial, Helvetica, sans-serif;
}


a {
  text-decoration: none;
  margin: 0 10px; 
}

.btnDiv {
  text-align: center;
  width: 99%;
  height: 60px;
  background-color: white;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 5px;
}

.checkbox{
  float:left;
  margin: 20px 30px;
}

a.btn {
  text-align: center;
  display: inline-block;
  color: #666;
  background-color: white;
  letter-spacing: 2px;
  /* font-size: 12px; */
  padding: 17px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 100%;
  margin: 0;
  align-items: center;
}


/*.navbar a {
    /* float: left;
    /* align-self: flex-start;
    font-size: 16px;
    color: white;
    text-align: center;
    height: fit-content;
    padding: 14px 16px;
    /* padding: 12px 20px 12px 40px;
    text-decoration: none; 
} */

.dropdown {
    float: right;
    overflow: hidden;
}  

.dropbtn {
    cursor: pointer;
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
a.nav1, a.nav2, .dropdown .dropbtn, a.send{
  float: left;
  font-size: 16px;
  color: white;
  height: fit-content;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  border-radius: 10px;

  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

a.nav1::before, a.nav2::before, .dropdown .dropbtn::before, a.send::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a.nav1:hover:before, a.nav2:hover:before,.dropdown .dropbtn:hover:before, a.send:hover::before {
  opacity: 1;
}
form{
  width: 100%;
}
a.nav2{
  width: 77%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}  

.show {
  display: block;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

div.contacts {
  display: flex;
  flex-direction: column;
  padding: 12px 40px 12px 40px;
}
  
.txt1 {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}

.container-contacts{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  max-height: 85vh;
  overflow: auto;
  border-radius: 10px;
}

.wrap-contacts{
  width: 100%;
  border-radius: 10px;
}

.footer{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 1%;
}

a.send{
  position: absolute;
  right: 2%;
  bottom: 2%;
  color: black;
}
